/* body {
    background-color: aquamarine;
} */

:root {
    --db-red: #ef4433;
}

body {
    margin: 0px;
}

div {
    display: flex;
    justify-content: center;
}


section {
    color: whitesmoke;
}

.hero {
    background-color: var(--db-red);
    padding: 10px;
    color: whitesmoke;
    text-align: center;

    img {
        width: 200px;
        border-radius: 50%;
    }
}

.early-career {
    color: black;
    background-image: url(https://mickshannahan.github.io/AkiraToriyamaTribute/assets/KiBlast.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
    gap: 1em;
}

.card {
    background-color: white;
    width: 40vw;
    gap: 1em;
    padding-inline-end: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);

    img {
        height: 25vh;
    }
}

.dragonball {
    background-image: url(assets/items-bg.png);
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: var(--db-red);
}

.dragonball-shelf {
    display: block;
}

.dragonball-shelf>.card {
    border-radius: 0px;
    color: black;
    border: solid black;
    margin: .5em;
    display: block;
    padding: 1em;
    box-shadow: 5px 5px rgb(0, 0, 0, .5);
}

.card>h3 {
    background-color: gray;
}